<script src="/octotest/plugins/responsiv/angular/assets/js/angular-bridge.js"></script>

<script>


{% for page in pages %}

    ocNg.controllers['{{ page.baseFileName }}'] = function($scope, $request) {
        $scope.pageId = '{{ page.id}} yep ' + $request('onTest');
    }

{% endfor %}

var app = angular.module('{{ __SELF__ }}', [
      'ngRoute',
      'ocServices'
    ])
    .config(['$routeProvider', '$cmsRouterProvider', '$locationProvider', '$controllerProvider', '$compileProvider', '$filterProvider', '$provide',
            function ($routeProvider, $cmsRouterProvider, $locationProvider, $controllerProvider, $compileProvider, $filterProvider, $provide) {

        /*
         * Switch on HTML5 mode
         */
        $locationProvider.html5Mode(true)

        // Change default views and controllers directory using the following:
        // $cmsRouterProvider.routeConfig.setBaseDirectories('/app/views', '/app/controllers');

        app.register = {
            controller: $controllerProvider.register,
            directive: $compileProvider.directive,
            filter: $filterProvider.register,
            factory: $provide.factory,
            service: $provide.service
        }

        // Define routes - controllers will be loaded dynamically
        var route = $cmsRouterProvider.route;

        {% for page in pages %}

            $routeProvider.when('{{ page.url }}', route.resolve(
                '{{ page.baseFileName }}',
                '{{ page.baseFilename|page }}'
            ))
        {% endfor %}

        return app
    }]),
    {{ __SELF__ }} = app

ocNg.bootApp(app)


// app.controller(ocNg.controllers);

// .controller('MyCtrl1', ['$scope', function($scope) {

//         $scope.$on("$locationChangeStart", function (event, next, current) {

//             var el, elId;
//             console.log(next)
//             console.log(current)
//             // window.location = next
//             // event.preventDefault();

//             // if (next.indexOf("#")>-1) {
//             //     elId = next.split("#")[1];
//             //     el = document.getElementById(elId);
//             //     if(el){
//             //        // el.scrollIntoView(); do not think we need it
//             //        window.location.hash = "#" + elId;
//             //        event.preventDefault();
//             //     }    
//             // }
//         });


//     }])


</script>

